@using Identity.Resources

@{
    ViewBag.Title = AccountResources.ResetPasswordConfirmation_Title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div>
    <p>
        @Html.Raw(AccountResources.ResetPasswordConfirmation_YourPasswordHasBeenReset)
        @Html.Raw(AccountResources.ResetPasswordConfirmation_LinkProlog)
        @Html.ActionLink(AccountResources.ResetPasswordConfirmation_Link, "Login", "Account",
            routeValues: null, htmlAttributes: new {id = "loginLink"})
        @Html.Raw(AccountResources.ResetPasswordConfirmation_LinkEpilog)
    </p>
</div>