@using Identity.Resources
@using Microsoft.Owin.Security
@model Identity.UI.ViewModels.Manage.ManageLoginsViewModel

@{
    ViewBag.Title = AccountResources.ManageLogins_Title;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
    if (!loginProviders.Any())
    {
        <p class="text-muted">
            @AccountResources.ExternalLoginsList_NoProviders
        </p>
    }
    else
    {
        if (Model.CurrentLogins.Count > 0)
        {
            <h4>@AccountResources.ManageLogins_SubTitle</h4>

            <table class="table">
                <tbody>
                @foreach (var account in Model.CurrentLogins)
                {
                    <tr>
                        <td>
                            <i class="fa fa-@(account.LoginProvider.ToLower())-square"></i>
                            @account.LoginProvider
                        </td>
                        <td>
                            @if (ViewBag.ShowRemoveButton)
                            {
                                using (Html.BeginForm("RemoveLogin", "Manage"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        @Html.Hidden("loginProvider", account.LoginProvider)
                                        @Html.Hidden("providerKey", account.ProviderKey)
                                        <button class="btn btn-default">
                                            <span>
                                                    <i class="fa fa-trash-o"></i>
                                                    @AccountResources.Remove
                                                    <i>@account.LoginProvider</i>
                                                    @AccountResources.account
                                                </span>
                                        </button>
                                    </div>
                                }
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        if (Model.OtherLogins.Count > 0)
        {
            using (Html.BeginForm("LinkLogin", "Manage"))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        @foreach (AuthenticationDescription p in Model.OtherLogins)
                        {
                            <button class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">
                                <i class="fa fa-@(p.AuthenticationType.ToLower())-square"></i>
                                @p.AuthenticationType
                            </button>
                        }
                    </p>
                </div>
            }
        }
    }
}